@import 'nib';
@import './lib/normalize';
@import './lib/angular-carousel.css'
*
	box-sizing:border-box;
body
	background-image:url(../img/fondoBody2.png);
	font-size:16px;
	font-family: 'Raleway', sans-serif;

@import '../login/login'