@import 'nib';
@import './lib/normalize';
@import './lib/angular-carousel.css';
@import './fonts.css';
*
	box-sizing:border-box;
body
	font-size:16px;
	font-family: 'Raleway', sans-serif;
	body, html
		width:100%;
		height:100%;
	&.fondo_loggin
		background-image:url(../img/fondoBody2.png);
	&.fondo_Perfil1
		background:rgba(88, 73, 73, 0.31);
	&.fondo_Perfil2
		background:rgba(88, 73, 73, 0.31);
	&.fondo_Perfil3
		background:rgba(88, 73, 73, 0.31);
	&.fondo_Perfil4
		background:rgba(88, 73, 73, 0.31);
	&.fondo_Perfil5
		background:rgba(88, 73, 73, 0.31);
	&.fondo_Perfil6
		background:rgba(88, 73, 73, 0.31);
	&.fondo_Perfil7
		background:rgba(88, 73, 73, 0.31);
	&.fondo_Perfil8
		background:rgba(88, 73, 73, 0.31);
	&.fondo_Perfil9
		background:rgba(88, 73, 73, 0.31);

@import '../login/login';
@import '../usuario/usuario';
@import '../administrador/administrador'