
section.Contenedor-Clientes
	h2 Clientes
	div.Iconos-Clientes
		form.Form-Clientes
			i.icon-search
			input(type="text" ng-model="search")
			i.icon-printer
			//i.icon-plus
	table(fixed-header).Tabla-Clientes
		thead
			tr
				th
					p Id
				th
					p Nombre
				th
					p Paterno
				th
					p Materno
		tbody
			tr(ng-repeat="cte in clientes | filter:search")
				td 
					p {{cte.id_cliente}}
				td 
					p {{cte.nombre}}
				td
					p {{cte.nom_paterno}}
				td.Td
					div
						p {{cte.nom_materno}}
						//i.icon-bin
						//i(popup-add="<popup-update-cliente cliente='cte'/>").icon-pencil