section.Contenedor-Clientes
	h2 Clientes
	div.Iconos-Clientes
		form.Form-Clientes
			i.icon-search
			input(type="text")
			i.icon-printer
			i(popup-add="<popup-agregar-clientes/>").icon-plus
	table.Tabla-Clientes
		tr
			th
				p Id
			th
				p Nombre
			th
				p Paterno
			th
				p Materno
		tr
			td 
				p 01
			td 
				p Jose Alberto
			td
				p Cordoba
			td.Td
				div
					p Lugo
					i.icon-bin
					i.icon-pencil