.Contenedor-Admin
	//background:yellow;
	width:42.25em;
	//margin:0 auto 2em auto;
	border: 2px solid white;
	border-radius: 26px;
	figure
		background-image:url(../img/advance.png);
		background-size:cover;
		background-repeat:no-repeat;
		width:23em;
		height:6em;
		border:3px solid #02020A;
		//border-radius:100%;
		margin:0 auto;
	.Form-Admin
		width:85%;
		margin:0 auto;
		font-size:1.1em;
		h2
			margin:1em 0 1em;
			text-align:center;
			color:white;
			border-bottom: 3px solid white;
			padding-bottom: .2em;
		div
			margin:1.1em;
			display: flex;
			justify-content: space-between;
			label
				margin-right:.5em;
				color:white;
			.Otro
				margin-left:.5em;
				margin-right:.5em;
			input, select, button
				width:9.5em;
				font-size:.9em;
			button
				margin: 0 auto;
				border: 0;
				border-radius: 8px;
				padding: .3em 0;
				background:#107bd6;
			button:hover
				background:#014075;