div.Popup2(popup-close)
	section.Contenedor-Admin
		figure
		form.Form-Admin
			h2 Agendar Cita
			div
				label Administrador:
				input(type="text" disabled)
			div
				label Cliente:
				select
					option(value="op1") Jose Alberto
					option(value="op1") Alejandra Vazquez
					option(value="op1") Carlos Lugo

			div
				label Auto:
				select
					option(value="op1") Civic
					option(value="op2") Ram
			div
				label Descripción:
				select
					option(value="op1")
					option(value="op1") Afinacion
					option(value="op2") Frenos
					option(value="op2") Cambio de llantas
					option(value="op2") Cambio aceite
					option(value="op2") Radiador
					option(value="op2") Motor
				label.Otro Otro:
				input(type="text")
			div
				label Mecanico:
				select
					option(value="op1") Juan Rodrigo
					option(value="op2") Victor Lopez
					option(value="op2") El doc
					option(value="op2") Pancho villa
			div
				label Fecha inicio:
				input(type="date" value="Date")
			div
				label Fecha salida:
				input(type="date" value="Date")
			div
				label Hora:
				input(type="text")
			div
				button Agregar