header.Header
	h2 Perfil usuario
	//-i.icon-whatsapp
section.Contenedor
	div.Info
		div.About
			div.Iconos
				p
					i.icon-pencil
					i.icon-camera
			figure
			h4 Beto Lugo
		nav.Navegacion
			div.Navegacion-Contenedor
				button Historial
				button Mantenimiento
				button Mis Carros
				button Calendario
div.Views(ui-view="contentPerfil").contentPerfil