header.Header-Perfil
	div.Logo
		figure
	div.opcions
		div.XML
			a(href="http://localhost/estructura-angular/xml/bbdd.xml" target="blank")
					img(src="img/xml.png")
		div.JASON
				a(href="http://localhost/estructura-angular/backend/index.php/getCitas" target="blank").JASON
					img(src="img/json.png")
		div.Salir
			button(ng-click="salir()") salir
				i.icon-switch
	//h2 Administrador
	//-i.icon-whatsapp
section.Contenedor-Perfil
	div.Info
		div.About
			div.Iconos-Portada
				p
					i(popup-add="<popup-actualizar-usuario cliente='infoUser'/>").icon-pencil
			figure.Img-cliente(style="background-image: url({{infoUser.imagen}})")
			h4 {{infoUser.nombre}} {{infoUser.nom_paterno}} {{infoUser.nom_materno}}
		nav.Navegacion
			div.Navegacion-Contenedor
				button(ui-sref='perfil.historial') Historial
				button(ui-sref='perfil.misAutos') Mis Carros
				button(ui-sref='perfil.consejos') Consejos
div.Views(ui-view="contentPerfil").contentPerfil