//@import ("./perfil/perfil")
.Popup2
	position:fixed;
	left:0;
	right:0;
	top:0;
	bottom:0;
	background:transparent;
	z-index:1;
	background:rgba(0,0,9,0.97);
	display:flex;
	justify-content:center;
	align-items:center;
.Header-Perfil
	width: 100%;
	height: 3em;
	background:rgba(0, 0, 0, 0.75);
	margin-bottom: 3em;
	.Logo
		height:3em;
		width:12em;
		display:inline-block;
		margin-left:2em;
		figure
			background-image:url(../img/advance2.png);
			background-size:cover;
			background-repeat:no-repeat;
			height:3em;
			width:12em;
	h2
		color:#fff;
		margin:0;
		display:inline-block;
.Contenedor-Perfil
	margin:0 auto;
	width:100%;
	//background:red;
	.Info
		width: 46.25em;
		background: red;
		margin: 0 auto;
		.About
			background:#404040;
			height:15em;
			width: 100%;
			display: inline-block;
			color:white;
			padding:0;
			.Iconos-Portada
				//background:red;
				margin:1em 0;
				p
					margin:0;
					text-align:right;
					i
						text-align:right;
						padding:0 0.5em 0 0.5em;
						font-size:1.3em;
			.Img-cliente
				//background-image:url(../img/usuario.jpg);
				background-image:url(../img/typer.jpg);
				background-size:cover;
				height:8em;
				width:12em;
				border-radius:100%;
				margin:1em auto;
				border:4px solid white;
				top:2em;
			h4
				margin:0;
				text-align:center;
		.Navegacion
			background:white;
			border-bottom:2px solid white;
			&-Contenedor
				button
					width:8.5em;
					height:2.3em;
					background:white;
					padding:0.82em 0 0.62em 0;
					border:0;
					//transition:all .3s ease-out;
				button:hover
					border-bottom:2px solid #427fed;
					font-weight:bold;
					//transform:scale3d(1.1,1.1,1.1);
.Views
	//background:#ADFF2F;
	margin-top:2em;
	table
		margin:0 auto 2em auto;
		width:30em;
		background: white;
		border: 2px solid gray;
		border-radius: 8px;
		box-shadow: 8px 8px 10px #404040;
	table, th , td
		border: 1px solid grey;
		border-collapse: collapse;
		//padding: 5px;
		tr
			td p
				text-align:center;
@import './historial/historial';
//@import './mantenimiento/mantenimiento';
@import './autos/autos';
