header.Header-Perfil
	div.Logo
		figure
	h2 Perfil usuarioo
	//-i.icon-whatsapp
section.Contenedor-Perfil
	div.Info
		div.About
			div.Iconos-Portada
				p
					i.icon-pencil
					i.icon-camera
			figure.Img-cliente
			h4 Beto Lugo
		nav.Navegacion
			div.Navegacion-Contenedor
				button Historial
				button Mis Carros
				button Consejos
div.Views(ui-view="contentPerfil").contentPerfil