header.Header-Perfil
	div.Logo
		figure
	h2(popup-add="<popup-Welcome/>") Perfil usuarioo
	//-i.icon-whatsapp
section.Contenedor-Perfil
	div.Info
		div.About
			div.Iconos-Portada
				p
					i(popup-add="<popup-actualizar-usuario cliente='infoUser'/>").icon-pencil
					i.icon-camera
			figure.Img-cliente(style="background-image: url({{infoUser.imagen}})")
			h4 {{infoUser.nombre}} {{infoUser.nom_paterno}} {{infoUser.nom_materno}}
		nav.Navegacion
			div.Navegacion-Contenedor
				button(ui-sref='perfil.historial') Historial
				button(ui-sref='perfil.misAutos') Mis Carros
				button(ui-sref='perfil.consejos') Consejos
div.Views(ui-view="contentPerfil").contentPerfil