div.Popup2(popup-close)
	section.Contenedor-Popup-Add_Admin
		//figure.Img-Add_Admin
		form.Form-Add_Admin
			h2 Agregar Administrador
			div.Form-Add_Admin-Contenedor
				label Nombre:
				input(type="text" ng-model="administrador.nombre" required)
			div.Form-Add_Admin-Contenedor
				label Correo:
				input(title="mail@example.com" type="email" ng-model="administrador.correo" required)
			div.Form-Add_Admin-Contenedor
				label Usuario:
				input(type="text" ng-model="administrador.usuario" required)
			div.Form-Add_Admin-Contenedor
				label Password:
				input(type="password" ng-model="administrador.password" required)
			div.Form-Add_Admin-Contenedor
				button(ng-click="addAdminsitrador()") Agregar