div.Popup2(popup-close)
	section.Contenedor-Popup-Add_Admin
		//figure.Img-Add_Admin
		form.Form-Add_Admin
			h2 Agregar Administrador
			div.Form-Add_Admin-Contenedor
				label Nombre:
				input(type="text" ng-model="administrador.nombre")
			div.Form-Add_Admin-Contenedor
				label Correo:
				input(type="text" ng-model="administrador.correo")
			div.Form-Add_Admin-Contenedor
				label Usuario:
				input(type="text" ng-model="administrador.usuario")
			div.Form-Add_Admin-Contenedor
				label Password:
				input(type="password" ng-model="administrador.password")
			div.Form-Add_Admin-Contenedor
				button(ng-click="addAdminsitrador()") Agregar