table
	//background:blue;
	margin:2em auto;
	border-collapse: collapse;
	width:30em;
table, th , td
	border: 1px solid grey;
	border-collapse: collapse;
	padding: 5px;
	tr
		td p
			text-align:center;