section.Contenedor-Historial
	div.Iconos
		form
			i.icon-search
			input(type="text")
			i.icon-printer
	table
		tr
			th
				p Fecha
			th
				p Descripción
			th
				p Auto
			th
				p Total
		tr
			td 
				p 18/sep/2014
			td 
				p Afinacion completa
			td
				p Civic
			td
				p $1500
		tr
			td 
				p 12/nov/2014
			td 
				p cambio de llantas
			td
				p Optra
			td
				p $5000
		tr
			td
				p 16/nov/2012
			td 
				p cambio de frenos
			td
				p Ram
			td
				p $600
		tr
			td
			td
			td
			td
				p $7100

