section.Contenedor-Cita
	h2 Citas
	div.Iconos-Cita
		form.Form-busqueda-Cita
			i.icon-search
			input(type="text")
			i.icon-printer
			i(popup-add="<popup-citas/>").icon-plus
	table.Tabla-Cita
		tr
			th
				p Id
			th
				p Nombre
			th
				p Paterno
			th
				p Materno
			th
				p Auto
			th
				p Fecha Inicio
			th
				p Fecha Salida
			th
				p Hora
		tr
			td.Td-info
				p 01
			td.Td-info 
				p Jose Alberto
			td.Td-info
				p Cordoba
			td.Td-info
				p Lugo
			td.Td-info
				p Civic
			td.Td-info
				p 26/nov/2014
			td.Td-info
				p 27/nov/2014
			td.Td
				div
					p 18:00
					i.icon-bin
					i(popup-add="<popup-update-cita/>").icon-pencil