section.Contenedor-Cita
	h2 Citas
	div.Iconos-Cita
		form.Form-busqueda-Cita(action="http://localhost/estructura-angular/backend/pdf/citas.php" method="POST")
			i.icon-search
			input(type="text" ng-model="search")
			button(type="submit").icon-printer
			i(popup-add="<popup-citas/>").icon-plus
	table(fixed-header).Tabla-Cita
		thead
			tr
				th
					p Id
				th
					p Nombre
				th
					p Auto
				th
					p Mantenimiento
				th
					p Fecha Inicio
				th
					p Hora
				th
					p Fecha Salida
		tbody
			tr(ng-repeat="c in citas | filter:search")
				td.Td-info
					p {{c.Id}}
				td.Td-info 
					p {{c.NombreClientes}} {{c.ClientePaterno}} {{c.ClienteMaterno}}
				td.Td-info
					p {{c.AutoModelo}}
				td.Td-info
					p {{c.MantenimientoDescripcion}}
				td.Td-info
					p {{c.CitaFechaInicio}}
				td.Td-info
					p {{c.CitaHora}}
				td.Td
					div
						p {{c.CitaFechaFin}}
						i(popup-add="<popup-confirmacion-delete cita='c'/>").icon-bin
						i(popup-add="<popup-update-cita cita='c'/>").icon-pencil