section.Contenedor-Cita
	h2 Citas
	div.Iconos-Cita
		form.Form-busqueda-Cita
			i.icon-search
			input(type="text")
			i.icon-printer
			i(popup-add="<popup-citas/>").icon-plus
	table.Tabla-Cita
		tr
			th
				p Id
			th
				p Nombre
			th
				p Paterno
			th
				p Materno
			th
				p Fecha Inicio
			th
				p Hora
		tr
			td 
				p 01
			td 
				p Jose Alberto
			td
				p Cordoba
			td
				p Lugo
			td
				p 27/nov/2014
			td.Td
				div
					p 18:00
					i.icon-bin
					i.icon-pencil