doctype html
html(lang="es", ng-app="app")
	head
		meta(charset="utf8", name="viewport", content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1")
		link(rel="stylesheet", href="./css/app.css")
		link(href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css')
		title App Mecanico
	body(ng-class="{'fondo_loggin':(seccionActual.name == 'login'),'fondo_Perfil':(seccionActual.name == 'perfil.historial'),'fondo_Mantenimiento':(seccionActual.name == 'perfil.mantenimiento'),'fondo_auto':(seccionActual.name == 'perfil.misAutos')}")
		div(class="Contenedor", ui-view)
		script(src="./js/vendor.js")
		script(src="./js/app.js")