doctype html
html(lang="es", ng-app="app")
	head
		meta(charset="utf8", name="viewport", content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1")
		link(rel="stylesheet", href="./css/app.css")
		link(href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css')
		title App Mecanico
	body(ng-class="{'fondo_loggin':(seccionActual.name == 'login'),'fondo_Perfil1':(seccionActual.name == 'perfil.historial'),'fondo_Perfil2':(seccionActual.name == 'perfil.misAutos'),'fondo_Perfil3':(seccionActual.name == 'administrador.citas'),'fondo_Perfil4':(seccionActual.name == 'administrador.historial'),'fondo_Perfil5':(seccionActual.name == 'administrador.clientes'),'fondo_Perfil6':(seccionActual.name == 'administrador.mecanico'),'fondo_Perfil7':(seccionActual.name == 'administrador.mantenimientos'),'fondo_Perfil8':(seccionActual.name == 'administrador.admin'),'fondo_Perfil9':(seccionActual.name == 'perfil.consejos')}")
		div(class="Contenedor", ui-view)
		script(src="./js/vendor.js")
		script(src="./js/app.js")