div.Popup2(popup-close)
	section.Contenedor-Admin
		figure
		form.Form-Admin
			//{{citaUpdate.prueba}}
			h2 Actualizar Cita
			div
				label Administrador:
				select(ng-model="citaUpdate.IdAdmin")
					option(value="{{admn.id_administrador}}" ng-repeat="admn in administradores") {{admn.nombre}}
			div
				label Cliente:
				select(ng-model="citaUpdate.IdCliente")
					option(value="{{cts.id_cliente}}" ng-repeat="cts in clientes") {{cts.nombre}} {{cts.nom_paterno}} {{cts.nom_materno}}

			div
				label Auto:
				select(ng-model="citaUpdate.IdAuto")
					option(value="{{car.id_auto}}" ng-repeat="car in autosUpdate") {{car.modelo}}
			div
				label Descripción:
				select(ng-model="citaUpdate.IdMantenimiento")
					option(value="{{mante.id_mantenimiento}}" ng-repeat="mante in mantenimientos") {{mante.descripcion}} ${{mante.costo}}
			div
				label Mecanico:
				select(ng-model="citaUpdate.IdMecanico")
					option(value="{{meca.id_mecanico}}" ng-repeat="meca in mecanicos") {{meca.nombre}}
			div
				label Fecha inicio:
				input(type="date" ng-model="citaUpdate.CitaFechaInicio")
			div
				label Fecha salida:
				input(type="date" ng-model="citaUpdate.CitaFechaFin")
			div
				label Hora:
				select(ng-model="citaUpdate.CitaHora")
									option 8:00
									option 9:00
									option 10:00
									option 11:00
									option 12:00
									option 13:00
									option 14:00
									option 15:00
									option 16:00
									option 17:00
									option 18:00
									option 19:00
			div
				button(ng-click="citaAcualizar()") Modificar