section.Contenedor-Mantenimientos
	h2 Mantenimientos
	div.Iconos-Mantenimientos
		form.Form-Mantenimientos
			i.icon-search
			input(type="text")
			i.icon-printer
			i(popup-add="<popup-agregar-mantenimiento/>").icon-plus
	table.Tabla-Mantenimientos
		tr
			th
				p Id
			th
				p Descripcion
			th
				p costo
		tr(ng-repeat="mtto in mantenimientos")
			td 
				p {{mtto.id_mantenimiento}}
			td 
				p {{mtto.descripcion}}
			td.Td
				div
					p {{mtto.costo}}
					i.icon-bin
					i.icon-pencil
