div(mensaje-close).Popup3
	div.Contenedor-Error
		div.Contenedor-Error-Icono
			figure
		div.Contenedor-Error-Msj
			h4 ERROR!
			h4 {{error}}
			//button(ng-click="CerrarPopupd()") Cancelar
			button(ng-click="CerrarPopup()") Aceptar