header.Header-Perfil
	div.Logo
		figure
	h2 Perfil usuario
	//-i.icon-whatsapp
section.Contenedor-Perfil
	div.Info
		div.About
			div.Iconos-Portada
				p
					i.icon-pencil
					i.icon-camera
			figure.Img-cliente
			h4 Beto Lugo
		nav.Navegacion
			div.Navegacion-Contenedor
				button Historial
				button Citas
				button Clientes
				button
					| Más
					ul.Navegacion-Contenedor-Desplegar
						li Mecanicos
						li Mantenimientos
						li Autos
div.Views(ui-view="contentPerfil").contentPerfil