header.Header-Perfil
	h2 Perfil usuario
	//-i.icon-whatsapp
section.Contenedor-Perfil
	div.Info
		div.About
			div.Iconos-Portada
				p
					i.icon-pencil
					i.icon-camera
			figure
			h4 Beto Lugo
		nav.Navegacion
			div.Navegacion-Contenedor
				button Historial
				button Agregar usuario
				button Agregar mecanico
				button Agregar Autos
				button Citas
				button Agregar mantenimiento
div.Views(ui-view="contentPerfil").contentPerfil