header.Header-Perfil
	div.Logo
		figure
	h2 {{saludo}}
	//-i.icon-whatsapp
section.Contenedor-Perfil
	div.Info
		div.About
			div.Iconos-Portada
				p
					i.icon-pencil
					i.icon-camera
			figure.Img-cliente
			h4 Beto Lugo
		nav.Navegacion
			div.Navegacion-Contenedor
				button(ui-sref='administrador.historial') Historial
				button(ui-sref='administrador.citas') Citas
				button(ui-sref='administrador.clientes') Clientes
				button
					| Más
					ul.Navegacion-Contenedor-Desplegar
						li(ui-sref='administrador.mecanico') Mecanicos
						li(ui-sref='administrador.mantenimientos') Mantenimientos
						li(ui-sref='administrador.autos') Autos
div.Views(ui-view="contentPerfil").contentPerfil