header.Header-Perfil
	div.Logo
		figure
	//h2 Administrador
	//-i.icon-whatsapp
section.Contenedor-Perfil
	div.Info
		div.About
			div.Iconos-Portada
				p
					i(popup-add="<popup-update-administrador administrador='infoAdmin'/>").icon-pencil
					//i.icon-camera
			figure.Img-cliente(style="background-image: url({{infoAdmin.imagen}})")
			h4 {{infoAdmin.nombre}}
		nav.Navegacion
			div.Navegacion-Contenedor
				button(ui-sref='administrador.historial') Historial
				button(ui-sref='administrador.citas') Citas
				button(ui-sref='administrador.clientes') Clientes
				button
					| Más
					ul.Navegacion-Contenedor-Desplegar
						li(ui-sref='administrador.mecanico') Mecanicos
						li(ui-sref='administrador.mantenimientos') Mantenimientos
						li(ui-sref='administrador.admin') Administrador
div.Views(ui-view="contentPerfil").contentPerfil