@import './popup_admin/popup_admin';
.Contenedor-Administrador
	h2
		text-align:center;
	.Tabla-Administrador, .Iconos-Administrador
		width:30em;
	.Iconos-Administrador
		background:#404040;
		margin:0 auto;
		color:white;
		text-align:right;
		padding:.37em;
		border-radius: 68px 23px;
		.Form-Administrador
				input
					border-radius:15px;
					heigth:.5em;
					width:9em;
					padding-left:.5em;
				i
					transition:color .5s;
				i:hover
					color:#107BD6;
				i:first-child
					padding-right:0.2em;
					font-size:1em;
				i:last-child, .icon-printer
					cursor:pointer;
				.icon-printer
					font-size:1.3em;
					padding:0 0.5em;
	.Tabla-Administrador
		tr
			td:first-child
				padding:0 .5em 0 .5em;
			.Td
				padding:0;
				div
					display:flex;
					text-align:center;
					p
						width:100%;
						//margin-right:1em;
						display:inline-bloc
					i
						color:white;
						width: 3em;
						display: flex;
						align-items: center;
						justify-content: center;
						background:#404040;
						cursor:pointer;
						transition:color .5s;
					i:hover
						color:#107BD6;