div.Popup(popup-close)
	section.Login
		div.Login-usuario
			figure.Login-usuario-img
			form.Login-usuario-form
				h2 Login
				div
					label Usuario
					input(title="Ingresar un usuario" type="text" ng-model="usuario.usuario" required)
				div
					label Password
					input(title="Ingresar contraseña" type="password" ng-model="usuario.password" required)
				div.Contenedor-submit
					button(type="submit" ng-click="login()") Entrar