div.Popup(popup-close)
	section.Login
		div.Login-usuario
			figure.Login-usuario-img
			form.Login-usuario-form
				h2 Login
				div
					label Usuario
					input(type="text" ng-model="usuario.usuario")
				div
					label Password
					input(type="password" ng-model="usuario.password")
				div.Contenedor-submit
					button(type="submit" ng-click="login()") Entrar