div.Popup(popup-close)
	section.Registro
		article.Registro-usuario
			figure.Registro-usuario-img
			form.Registro-usuario-form
				h2.firsth2 Registro<br> de Usuario
				div
					label Usuario
					input(type="text" ng-model="cliente.usuario")
				div
					label Nombre
					input(type="text" ng-model="cliente.nombre")
				div
					label Paterno
					input(type="text" ng-model="cliente.nombre")
				div
					label Materno
					input(type="text" ng-model="cliente.nombre")
				div
					label Correo
					input(type="text" ng-model="cliente.correo")
				div
					label Password
					input(type="password" ng-model="cliente.password")
				div
					button(ng-click="addCliente()") Registrar