div.Popup2(popup-close)
	section.Contenedor-Popup-Clientes
		figure.Img-Cliente
		form.Form-Cliente
			h2 Modificar Cliente
			div.Form-Cliente-Contenedor
				label Nombre:
				input(type="text")
			div.Form-Cliente-Contenedor
				label Paterno:
				input(type="text")
			div.Form-Cliente-Contenedor
				label Materno:
				input(type="text")
			div.Form-Cliente-Contenedor
				label Usuario:
				input(type="text")
			div.Form-Cliente-Contenedor
				label Password:
				input(type="password")
			div.Form-Cliente-Contenedor
				label Repetir password:
				input(type="password")
			div.Form-Cliente-Contenedor
				button Agregar