div.Popup2(popup-close)
	section.Contenedor-Popup-Mantenimientos
		figure.Img-Mantenimientos
		form.Form-Mantenimientos
			h2 Actualizar Mantenimiento
			div.Form-Mantenimientos-Contenedor
				label Descripcion:
				input(type="text" ng-model="mantenimientoUpdate.descripcion")
			div.Form-Mantenimientos-Contenedor
				label Costo:
				input(type="text" ng-model="mantenimientoUpdate.costo")
			div.Form-Mantenimientos-Contenedor
				button(ng-click="updateMantenimiento()") Modificar