@import './popup_autos/popup_autos';
.Contenedor-Usuario-Auto
	h2
		text-align:center;
	&-Iconos
		width:30em;
		margin:0 auto;
		text-align:right;
		i
			padding-right:.5em;
			font-size:1.3em;
			cursor:pointer;
			text-align:center;
			transition:color .5s;
		i:hover
			color:#107BD6;
	.Tabla-Autos
		tr
			td:last-child
				padding:0;
				width:7em;
				div
					display:flex;
					text-align:center;
					p
						width:100%;
						margin-right:1em;
						display:inline-block;
					i
						color:white;
						width: 3em;
						display: flex;
						align-items: center;
						justify-content: center;
						background:#404040;
						cursor:pointer;
						transition:color .5s;
					i:last-child
						border-left:2px solid #fff;
					i:hover
						color:#107BD6;