section.Contenedor-Usuario-Auto
	h2 Mis Autos
	div.Contenedor-Usuario-Auto-Iconos
		i(popup-add="<popup-agregar-autos/>").icon-directions_car
	table.Tabla-Autos
		tr
			th
				p Id
			th 
				p Marca
			th 
				p Modelo
			th 
				p Año
		tr(ng-repeat="auto in cars")
			td
				p {{auto.id_auto}}
			td 
				p {{auto.marca}}
			td 
				p {{auto.modelo}}
			td
				div
					p {{auto.year}}
					i(popup-add="<popup-confirmacion-delete-auto auto='auto'/>").icon-bin
					i(popup-add="<popup-update-autos auto='auto'/>").icon-pencil
