section.Contenedor-Usuario-Auto
	h2 Mis Autos
	div.Contenedor-Usuario-Auto-Iconos
		i(popup-add="<popup-agregar-autos/>").icon-directions_car
	table.Tabla-Autos
		tr
			th 
				p Marca
			th 
				p Modelo
			th 
				p Año
		tr
			td 
				p Honda
			td 
				p Civic
			td
				div
					p 1999
					i.icon-bin
					i(popup-add="<popup-update-autos/>").icon-pencil
