.PopupDelete
	position:fixed;
	left:0;
	right:0;
	top:0;
	bottom:0;
	background:transparent;
	z-index:1;
	background:rgba(0,0,0,0.85);
	display:flex;
	justify-content:center;
	align-items:center;
	.VentanaConfirmacion
		background: white;
		width: 40%;
		border: 2px solid grey;
		border-radius: 8px;
		text-align:center;
		padding:.5em;
		h2
			margin:0;
		.icon-warning
			font-size: 4em;
			color: orange;
		button
			padding: 0.5em 1.3em;
			background: white;
			border: 1px solid black;
			border-radius: 8px;
			transition:background .5s;
		button:hover
			background:#107bd6;
		.Cancelar
			margin-right:6em;