.Contenedor-Consejos
	margin-bottom:3em;
	article
		width:46em;
		background:#fff;
		margin:0 auto;
		padding: 0 1.5em 0 1.5em;
		text-align: justify;
		h3
			text-align:center;
			padding-top:2em;
			margin:0;
		.Figure1
			width:43em;
			height:20em;
			background-image:url(../img/11755131_736268979828848_3802874136005710721_n.jpg);
			background-size:cover;
			background-repeat:no-repeat;
		ul
			li
				margin-bottom:2em;
		.Figure2
			width:28em;
			height:20em;
			margin:0 auto;
			background-image:url(../img/motor-civic.jpg);
			background-size:cover;
			background-repeat:no-repeat;
		p:last-child
			padding-bottom:2em;