//********************** Diseño login ********************
	.Login
		border:2px solid white;
		border-radius:10px;
		padding:2em 4em 5em;
		color:white;
		text-align:center;
		&-usuario
			padding:1em;
			figure
				width:6em;
				height:6em;
				border-radius:100%;
				margin:0 auto;
				background-size:cover;
				border:4px solid white;
				margin-bottom:1em;
				background:url(../img/typer.jpg)
				background-size:cover;
			form
				div
					position:relative;
					display: flex;
					justify-content: space-between;
					margin-bottom:1em;
					input
						border:0;
						border-radius:.5em;
						width:8em;
						margin-left:2em;
						color:black;
						padding-left:0.3em;
					button
						position: absolute;
						left: 0;
						right: 0;
						top: 0;
						bottom: 0;
						margin: 0 auto;
						width: 7em;
						height: 2em;
						border-radius: 8pc;
						border: 0;
						background:#107bd6;
						transition:background .5s;
					button:hover
						background:#014075;