	.Registro
		//background:#fff;
		border:2px solid white;
		border-radius:10px;
		display:flex;
		text-align:right;
		padding:.8em 0;
		color:#fff;
		form
			div
				display: flex;
				justify-content: space-between;
				margin-bottom:1em;
				label
					width:4px;
				input
					border:0;
					border-radius:.5em;
					color:black;
					width:8em;
					padding-left:0.3em;
				select
					width: 8em;
					height: 1.5em;
					color: black;
					border-radius: 8px;
				button
					position: absolute;
					left:0;
					right:0;
					bottom:0;
					margin: 0 auto;
					background:#107bd6;
					height:2em;
					width:7em;
					border-radius:15px;
					border:0;
					transition:background .5s;
				button:hover
					background:#014075;
		figure
			width:5em;
			height:5em;
			border-radius:100%;
			margin:0 auto;
			background-size:cover;
			border:4px solid white;
			margin-bottom:1em;
		h2
			margin:.5em 2em 1em 2em;
			text-align:center;
		.firsth2
			padding:0 .8em;
		&-usuario
			padding:1em;
			border-right:2px solid white;
			&-img
				background:url(../img/usuario.jpg);
		&-administrador
			padding:1em;
			&-img
				background:url(../img/admin.jpg);
		article
			position: relative;
			padding-bottom: 4em;
