div.Popup(popup-close)
	section.Registro
		article.Registro-usuario
			figure.Registro-usuario-img
			form.Registro-usuario-form
				h2 Registro de Usuario
				div
					label Usuario
					input(type="text")
				div
					label Nombre
					input(type="text")
				div
					label Correo
					input(type="text")
				div
					label Password
					input(type="password")
				div
					button(type="submit") Registrar
		article.Registro-mecanico
			figure.Registro-mecanico-img
			form.Registro-mecanico-form
				h2 Registro de Mecanico
				div
					label Nombre
					input(type="text")
				div
					label Usuario
					input(type="text")
				div
					label Especialidad
					select
						option(value="op1") opcion1
						option(value="op2") opcion2
						option(value="op3") opcion3
				div
					label Correo
					input(type="text")
				div
					label Direccion
					input(type="text")
				div
					label Telefeno
					input(type="text")
				div
					label Contraseña
					input(type="password")
				div
					button(type="submit") Registrar