.Contenedor-Historial
	.Iconos
		/*margin:0 auto 0.3em auto;
		width:30em;
		text-align:right;*/
		form
			input
				border-radius:15px;
				heigth:.5em;
				width:9em;
				padding-left:.5em;
			i:first-child
				padding-right:0.2em;
				font-size:1em;
			i:last-child
				font-size:1.3em;
				padding-left:0.5em;
	.Tabla-Historial
		tr
			.Td
				padding:0;
				div
					display:flex;
					text-align:center;
					p
						width:100%;
						//margin-right:1em;
						display:inline-bloc
					i
						color:white;
						width: 3em;
						display: flex;
						align-items: center;
						justify-content: center;
						background:#404040;
						cursor:pointer;
						transition:color .5s;
					i:hover
						color:#107BD6
	/*table
		//background:blue;
		margin:0 auto 2em auto;
		border-collapse: collapse;
		width:30em;
		background: white;
		border: 2px solid gray;
		border-radius: 8px;
		box-shadow: 8px 8px 10px #404040;
	table, th , td
		border: 1px solid grey;
		border-collapse: collapse;
		padding: 5px;
		tr
			td p
				text-align:center;*/