section.Contenedor-Historial
	h2 Historial De Mantenimientos
	div.Iconos-Historial-Cliente
		form.Form-busqueda
			i.icon-search
			input(type="text" ng-model="search")
			i.icon-printer
	table.Tabla-Historial
		tr
			th
				p Fecha
			th
				p Descripción
			th
				p Auto
			th
				p Total
		tr(ng-repeat="cita in citas | filter:search")
			td 
				p {{cita.CitaFechaInicio}}
			td 
				p {{cita.MantenimientoDescripcion}}
			td.Td
				div
					p {{cita.AutoModelo}}
					//i.icon-bin
					//i.icon-pencil
			td
					p {{cita.Costo | currency}}
		tr
			td
			td
			td
			td
				p {{costoTotal | currency}}

