div.Popup2(popup-close)
	section.Contenedor-Popup-Auto
		figure.Img-auto
		form.Contenedor-Popup-Auto-Formulario
			h2 Actualizar Automovil
			div
				label Marca:
				input(type="text" ng-model="autoUpdate.marca")
			div
				label Modelo:
				input(type="text" ng-model="autoUpdate.modelo")
			div
				label Año:
				input(type="text" ng-model="autoUpdate.year")
			div
				label Color:
				input(type="text" ng-model="autoUpdate.color")
			div
				button(ng-click="updateAuto()")
					p Actualizar
