section.Contenedor-Mecanico
	h2 Agregar Mecanico
	div.Iconos-Mecanico
		form.Form-Mecanico
			i.icon-search
			input(type="text")
			i.icon-printer
			i(popup-add="<popup-agregar-mecanico/>").icon-plus
	table.Tabla-Mecanico
		tr
			th
				p Id
			th
				p Nombre
			th
				p Paterno
			th
				p Materno
		tr
			td 
				p 01
			td 
				p Victor
			td
				p Sandoval
			td.Td
				div
					p Lugo
					i.icon-bin
					i.icon-pencil
