div.Popup2(popup-close)
	section.Contenedor-Popup-Mantenimientos
		figure.Img-Mantenimientos
		form.Form-Mantenimientos
			h2 Agregar Mantenimiento
			div.Form-Mantenimientos-Contenedor
				label Descripcion:
				input(type="text")
			div.Form-Mantenimientos-Contenedor
				label Costo:
				input(type="text")
			div.Form-Mantenimientos-Contenedor
				button Agregar