div.Popup2(popup-close)
	section.Contenedor-Popup-Autos
		figure.Img-Autos
		form.Form-Autos
			h2 Agregar Autos
			div.Form-Autos-Contenedor
				label Marca:
				select
					option(value="op1") Honda
					option(value="op1") Nissan
					option(value="op1") Mitsubishi
			div.Form-Autos-Contenedor
				label Modelo:
				input(type="text")
			div.Form-Autos-Contenedor
				label Año:
				input(type="text")
			div.Form-Autos-Contenedor
				button Agregar