.Contenedor-Popup-Autos
	width:32.25em;
	border: 2px solid white;
	border-radius: 26px;
	.Img-Autos
		background-image:url(../img/civic99.jpg);
		background-size:cover;
		background-repeat:no-repeat;
		width:6em;
		height:6em;
		margin:1em auto 0 auto;
		border: 2px solid white;
		border-radius: 100%;
	.Form-Autos
		width:85%;
		margin:0 auto;
		font-size:1.1em;
		h2
			margin:1em 0 1em;
			text-align:center;
			color:white;
			border-bottom: 3px solid white;
			padding-bottom: .2em;
		.Form-Autos-Contenedor
			margin:1.1em;
			display: flex;
			justify-content: space-between;
			label
				margin-right:.5em;
				color:white;
			input, select, button
				width:9.5em;
				font-size:.9em;
			button
				margin: 0 auto;
				border: 0;
				border-radius: 8px;
				padding: .3em 0;
				background:#107bd6;
			button:hover
				backgAutos