section.Contenedor-Autos
	h2 Autos
	div.Iconos-Autos
		form.Form-Autos
			i.icon-search
			input(type="text")
			i.icon-printer
			i(popup-add="<popup-agregar-auto/>").icon-plus
	table.Tabla-Autos
		tr
			th
				p Marca
			th
				p Modelo
			th
				p Año
		tr
			td 
				p Honda
			td 
				p Civic
			td.Td
				div
					p 1999
					i.icon-bin