section.Contenedor-Historial-Admin
	h2 Historial
	div.Iconos-Historial-Admin
		form.Form-busqueda-admin
			i.icon-search
			input(type="text" ng-model="search")
			//i.icon-printer
	table(fixed-header).Tabla-Historial-Admin
		thead
			tr
				th
					p Fecha
				th
					p Cliente
				th
					p Descripción
				th
					p Auto
				th
					p Mecanico
				th
					p Total
		tbody
			tr(ng-repeat="date in historialCitas | filter:search")
				td 
					p {{date.CitaFechaInicio}}
				td 
					p {{date.NombreClientes}} {{date.ClientePaterno}} {{date.ClienteMaterno}}
				td
					p {{date.MantenimientoDescripcion}}
				td
					p {{date.AutoModelo}}
				td
					p {{date.NombreMecanico}}
				td.Td
					div
						p {{date.Costo | currency}}


