/*estilo popup*/
.Popup2
	.Contenedor-Popup-Auto
		width:30em;
		//background:red;
		border:2px solid white;
		border-radius:10px;
		.Img-auto
			background-image:url(../img/advance2.png);
			background-size:196px;
			background-repeat:no-repeat;
			background-position:center;
			width:23em;
			height:6em;
			border:3px solid #02020A;
			//border-radius:100%;
			margin:0 auto;
		&-Formulario
			width:23em;
			margin:0 auto;
			//background:rgba(0,0,0,0.85)
			//box-shadow:8px 8px 10px #404040;
			color:white;
			font-size:1.3em;
			padding:0 2em;
			h2
				text-align:center;
				margin:0;
				border-bottom:2px solid white;
				padding-bottom:.7em;
			div
				margin:2em;
				display: flex;
				justify-content: space-between;
				button
					margin:0 auto;
					background:#107bd6;
					transition:background .5s;
					p
						margin:0;
						color:black;
						padding:.1em 1em;
						font-size:.9em;
						color:white;
				button:hover
					background:#014075;
				button, input
					border-radius:15px;
					border:0;
				input
					width:8em;