div.Popup2(popup-close)
	section.Contenedor-Popup-Auto
		figure.Img-auto
		form.Contenedor-Popup-Auto-Formulario
			h2 Agregar Automovil
			div
				label Marca:
				input(type="text")
			div
				label Modelo:
				input(type="text")
			div
				label Año:
				input(type="text")
			div
				button
					p Agregar
