div(popup-close).Popup3
	div.Contenedor-Error
		div.Contenedor-Error-Icono
			figure
		div.Contenedor-Error-Msj
			h4 ERROR!
			h4 No se puede eleminar<br> un mecanico con una<br> cita
			button Cancelar
			button Aceptar
