div.Popup2(popup-close)
	section.Contenedor-Popup-Mecanico
		figure.Img-Mecanico
		form.Form-Mecanico
			h2 Agregar Mecanico
			div.Form-Mecanico-Contenedor
				label Nombre:
				input(type="text")
			div.Form-Mecanico-Contenedor
				label Paterno:
				input(type="text")
			div.Form-Mecanico-Contenedor
				label Materno:
				input(type="text")
			div.Form-Mecanico-Contenedor
				label Edad:
				input(type="text")
			div.Form-Mecanico-Contenedor
				button Agregar