.Contenedor-Mantenimiento
	//background:yellow;
	width:46.25em;
	margin:0 auto 2em auto;
	h2
		margin:0 0 1em 0;
		text-align:center;
	form
		width:81%;
		margin:0 auto;
		border:2px solid gray;
		border-radius:10px;
		background:white;
		box-shadow:8px 8px 10px #404040;
		div
			margin:2em;
			display: flex;
			justify-content: space-between;
			label
				margin-right:.5em;
			.Otro
				margin-left:.5em;
				margin-right:.5em;
			input, select
				width:9.5em;
