section.Contenedor-Mantenimiento
	h2 Agregar Mantenimiento
	form
		div
			label Tipo de mantenimientoo:
			select
				option(value="op1") Por ti mismo
				option(value="op2") Por Mecanico
	form
		div
			label Auto:
			select
				option(value="op1") Civic
				option(value="op2") Ram
		div
			label Descripción:
			select
				option(value="op1") Afinacion
				option(value="op2") Frenos
				option(value="op2") Cambio de llantas
				option(value="op2") Cambio aceite
				option(value="op2") Radiador
				option(value="op2") Motor
			laber.Otro Otro:
			input(type="text")
		div
			label Fecha:
			input(type="date" value="Date")
		div
			label Monto total:
			input(type="text")
		div
			input(type="submit" value="Agregar")
	form.Form-Mecanico
		div
			label Auto:
			select
				option(value="op1") Civic
				option(value="op2") Ram
		div
			label Descripción:
			select
				option(value="op1") Afinacion
				option(value="op2") Frenos
				option(value="op2") Cambio de llantas
				option(value="op2") Cambio aceite
				option(value="op2") Radiador
				option(value="op2") Motor
			laber.Otro Otro:
			input(type="text")
		div
			label Mecanico:
			select
				option(value="op1") Juan Rodrigo
				option(value="op2") Victor Lopez
				option(value="op2") El doc
				option(value="op2") Pancho villa
		div
			label Fecha:
			input(type="date" value="Date")
		div
			label Monto total:
			input(type="text")
		div
			input(type="submit" value="Agregar")
