div(popup-close).PopupDelete
	.VentanaConfirmacion
		h2 Confirmacion
		i.icon-warning
		p ¿Desea eliminar el administrador?
		button.Cancelar Cancelar
		button(ng-click="deleteAdmin(admin)").Aceptar Aceptar